/********** Template CSS **********/
:root {
    --primary: #2124B1;
    --secondary: #4777F5;
    --light: #F7FAFF;
    --dark: #1D1D27;
}


body {
    background: var(--light);
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    display: flex;
   
    justify-content: center;
  }

  .signup-container {
    width: 100%;
    max-width: 480px;
    padding: 2rem;
    background-color: var(--light);
    border-radius: 16px;
    
  }

  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark);
    text-align: center;
  }

  .tagline {
    font-size: 1rem;
    text-align: center;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }

  .info-box {
    background-color: #fff5d7; /* light yellow */
    padding: 12px 16px;
    border-radius: 10px;
    color: #333;
    font-size: 0.80rem;
    margin-top: 8px;
  }

  .btn-primary {
    background-color: var(--primary);
    border-color: #1976d2;
  }

  .btn-primary:hover {
    background-color: #1259a5;
  }

  .btn-outline-dark {
    border-color: #ccc;
  }

  .divider {
    text-align: center;
    margin: 1.2rem 0;
    position: relative;
  }

  .divider::before,
  .divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ddd;
  }

  .divider::before {
    left: 0;
  }

  .divider::after {
    right: 0;
  }

  .divider span {
    padding: 0 10px;
    background:  var(--light);
    color: #888;
  }

  @media (max-width: 576px) {
    .signup-container {
      padding: 1.5rem 1.25rem;
    }

    .brand {
      font-size: 1.5rem;
    }

    .tagline {
      font-size: 0.9rem;
    }
  }