# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

.DS_Store
=======
.idea/
**/.DS_Store

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
