# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.idea/
**/.DS_Store
# Logs
logs
*.log
/vendor
# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
